Repository hmcts/ccpay-bubble, pull requests merged in 2019-11, with the labels that each got.

#226 Csrf fix
  package.json
  server.js
  yarn.lock
Labels: ns:ccpay-bubble-frontend-pr-226

#224 Logout Issue
  express/infrastructure/security.js
Labels: ns:ccpay-bubble-frontend-pr-224

#227 PAY-2390:MITM Attack changes
  charts/ccpay-bubble-frontend/values.yaml
  config/default.yaml
  infrastructure/main.tf
  start.js
Labels: ns:ccpay-bubble-frontend-pr-227

#229 Updated main.tf from moj to cnp
  infrastructure/main.tf
Labels: ns:ccpay-bubble-frontend-pr-229

#232 Tidying up chart for product chart
  charts/ccpay-bubble-frontend/Chart.yaml
  charts/ccpay-bubble-frontend/requirements.yaml
  charts/ccpay-bubble-frontend/values.preview.template.yaml
  charts/ccpay-bubble-frontend/values.yaml
Labels: ns:ccpay-bubble-frontend-pr-232

#233 Updating idam charts version
  charts/ccpay-bubble-frontend/Chart.yaml
  charts/ccpay-bubble-frontend/requirements.yaml
  charts/ccpay-bubble-frontend/values.preview.template.yaml
Labels: ns:ccpay-bubble-frontend-pr-233

#234 Fix secret and some improvements
  charts/ccpay-bubble-frontend/Chart.yaml
  charts/ccpay-bubble-frontend/values.preview.template.yaml
  charts/ccpay-bubble-frontend/values.yaml
Labels: ns:ccpay-bubble-frontend-pr-234

#236 Fix paybubble client id
  charts/ccpay-bubble-frontend/values.preview.template.yaml
Labels: ns:ccpay-bubble-frontend-pr-236
