Repository hmcts/ccpay-bubble, pull requests merged in 2021-03, with the labels that each got.

#444 Buildcve
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-444

#448 Removing proxy usage in automation script
  acceptance-tests/codecept.conf.js
  acceptance-tests/test/end-to-end/helpers/utils.js
  bin/run-smoke-test.sh
  smoke-test/smoke-codecept.conf.js
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-448

#383 Pcipal antenna changes review
  acceptance-tests/test/end-to-end/helpers/misc.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/CCPB_BulkScanFunctionality_test.js
  acceptance-tests/test/end-to-end/tests/CCPB_SearchCaseWithCCD_test.js
  charts/ccpay-bubble-frontend/Chart.yaml
  charts/ccpay-bubble-frontend/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  express/app.js
  express/infrastructure/security.js
  express/mvc/controller/PayhubController.js
  express/services/PayhubService.js
  package.json
  server.js
  src/app/components/ccd-search/ccd-search.component.spec.ts
  src/app/components/ccd-search/ccd-search.component.ts
  src/app/components/fee-search/fee-search.component.spec.ts
  src/app/components/fee-search/fee-search.component.ts
  src/app/components/payment-history/payment-history.component.html
  src/app/components/payment-history/payment-history.component.ts
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-383

#453 Pally xbrowser mutation pbfix
  .gitignore
  Jenkinsfile_nightly
  acceptance-tests/codecept.conf.js
  acceptance-tests/saucelabs.conf.js
  acceptance-tests/test/end-to-end/crossbrowser/supportedBrowsers.js
  acceptance-tests/test/end-to-end/helpers/SauceLabsReportingHelper.js
  acceptance-tests/test/end-to-end/helpers/misc.js
  acceptance-tests/test/end-to-end/pages/case_search.js
  acceptance-tests/test/end-to-end/pages/case_transactions.js
  acceptance-tests/test/end-to-end/pages/payment_history.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/CCPBAcceptanceTestConstants.js
  acceptance-tests/test/end-to-end/tests/CCPB_BulkScanFunctionality_test.js
  acceptance-tests/test/end-to-end/tests/CCPB_SearchCaseWithCCD_test.js
  bin/run-crossbrowser-tests.sh
  bin/run-mutation-tests.sh
  config/custom-environment-variables.yaml
  config/default.yaml
  functional-output/mochawesome.html
  functional-output/mochawesome.json
  karma.conf.js
  mutation-tests/mutation_all_paybubble_unit_tests.conf.js
  package.json
  scripts/pa11y.js
  stryker.node.conf.js
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-453

#451 Ta 558 add cross browser config and dependencies
  Jenkinsfile_nightly
  acceptance-tests/saucelabs.conf.js
  acceptance-tests/test/end-to-end/crossbrowser/supportedBrowsers.js
  acceptance-tests/test/end-to-end/helpers/SauceLabsReportingHelper.js
  acceptance-tests/test/end-to-end/pages/case_transactions.js
  acceptance-tests/test/end-to-end/pages/payment_history.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  bin/run-crossbrowser-tests.sh
  config/custom-environment-variables.yaml
  config/default.yaml
  package.json
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-451
