Repository hmcts/ccpay-bubble, pull requests merged in 2021-05, with the labels that each got.

#441 Pay 4097 discontinued fee
  projects/fee-register-search/src/lib/components/fee-list/fee-list.component.html
  projects/fee-register-search/src/lib/components/fee-list/fee-list.component.scss
  projects/fee-register-search/src/lib/interfaces/IFee.ts
  projects/fee-register-search/src/lib/mocks/mock-fees.ts
  projects/fee-register-search/src/lib/pipes/filter-fees.pipe.ts
  src/app/components/fee-details/fee-details.component.html
  src/app/components/fee-details/fee-details.component.spec.ts
  src/app/components/fee-details/fee-details.component.ts
  src/app/components/fee-search/fee-search.component.spec.ts
  src/app/components/fee-search/fee-search.component.ts
  yarn-audit-known-issues
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-441

#466 Live issue testcasefixes
  src/app/components/fee-details/fee-details.component.spec.ts
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-466

#467 Pay 4515
  .gitignore
  Jenkinsfile_nightly
  acceptance-tests/saucelabs.conf.js
  acceptance-tests/test/end-to-end/helpers/SauceLabsReportingHelper.js
  acceptance-tests/test/end-to-end/tests/CCPB_BulkScanFunctionality_test.js
  acceptance-tests/test/end-to-end/tests/CCPB_SearchCaseWithCCD_test.js
  mutation-tests/mutation_all_paybubble_unit_tests.conf.js
  package.json
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-467
