Repository hmcts/ccpay-bubble, pull requests merged in 2024-11, with the labels that each got.

#933 update FTs
  acceptance-tests/test/end-to-end/pages/add_fees.js
  acceptance-tests/test/end-to-end/pages/case_transactions.js
  acceptance-tests/test/end-to-end/pages/payment_history.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/CCPB_BulkScanFunctionality_test.js
  acceptance-tests/test/end-to-end/tests/Refund_Over_Payment_Option_Selection_Journey_test.js
  acceptance-tests/test/end-to-end/tests/Refund_Partial_Journey_test.js
  acceptance-tests/test/end-to-end/tests/Refund_Retro_Remission_Journey_test.js
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-933

#932 CME-8: Update values.yaml
  charts/ccpay-bubble-frontend/Chart.yaml
  charts/ccpay-bubble-frontend/values.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-932

#934 PAY-7470: Pipeline fixes - week beginning 18 Nov 2024
  package.json
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-934
