Repository hmcts/ccpay-bubble, pull requests merged in 2024-07, with the labels that each got.

#901 PAY-7178: Update to remove braces vulnerability.
  acceptance-tests/test/end-to-end/tests/CCPBAcceptanceTestConstants.js
  acceptance-tests/test/end-to-end/tests/Refund_Over_Payment_Option_Selection_Journey_test.js
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, enable_keep_helm, rel:ccpay-bubble-frontend-pr-901

#904 PAY--7232: Improve reliability of Paybubble FT
  acceptance-tests/codecept.conf.js
  acceptance-tests/test/end-to-end/tests/CCPBAcceptanceTestConstants.js
  charts/ccpay-bubble-frontend/values.aat.template.yaml
  charts/ccpay-bubble-frontend/values.preview.template.yaml
  package.json
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-904

#906 PAY-6837 updated yarn.lock file and web component version 6.2.2
  package.json
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-906

#907 PAY-7244: Pipeline fix
  audit.json
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-907
