Repository hmcts/ccpay-bubble, pull requests merged in 2025-09, with the labels that each got.

#980 CME-522 upgrade to angular 20
  .eslintrc.js
  angular.json
  package.json
  projects/fee-register-search/package.json
  projects/fee-register-search/src/lib/components/fee-filter/fee-filter.component.ts
  projects/fee-register-search/src/lib/components/fee-list/fee-list.component.ts
  projects/fee-register-search/src/lib/components/fee-search/fee-search.component.ts
  projects/fee-register-search/src/lib/fee-register-search.component.ts
  projects/fee-register-search/src/lib/pipes/filter-fees.pipe.ts
  projects/view-payment/package.json
  projects/view-payment/src/lib/components/shared/fee/fee.component.ts
  projects/view-payment/src/lib/components/shared/status-history/status-history.component.ts
  projects/view-payment/src/lib/components/single-payment-view/single-payment-view.component.ts
  projects/view-payment/src/lib/view-payment.component.ts
  src/app/app.component.ts
  src/app/components/accessibility-statement/accessibility-statement.component.spec.ts
  src/app/components/accessibility-statement/accessibility-statement.component.ts
  src/app/components/ccd-search/ccd-search.component.ts
  src/app/components/confirmation/confirmation.component.ts
  src/app/components/cookie-banner/cookie-banner.component.ts
  src/app/components/cookie-details/cookie-details.component.ts
  src/app/components/cookie-policy/cookie-policy.component.spec.ts
  src/app/components/cookie-policy/cookie-policy.component.ts
  src/app/components/cookie-table/cookie-table.component.ts
  src/app/components/fee-details/fee-details.component.ts
  src/app/components/fee-search/fee-search.component.spec.ts
  src/app/components/fee-search/fee-search.component.ts
  src/app/components/payment-history/payment-history.component.ts
  src/app/components/review-fee-detail/review-fee-detail.component.ts
  src/app/components/view-payment/view-payment.component.ts
  src/app/shared/components/fee-list-table/fee-list-table.component.ts
  src/app/shared/components/footer/footer.component.ts
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/navigation/navigation.component.spec.ts
  src/app/shared/components/navigation/navigation.component.ts
  src/app/shared/components/phase-banner/phase-banner.component.ts
  src/app/shared/components/service-failure/service-failure.component.ts
  src/app/shared/pipes/format-display-currency.pipe.ts
  src/app/shared/pipes/sanitize-html.pipe.ts
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, enable_keep_helm, rel:ccpay-bubble-frontend-pr-980

#981 add multiple SRs remission refund test
  acceptance-tests/test/end-to-end/helpers/utils.js
  acceptance-tests/test/end-to-end/pages/add_fees.js
  acceptance-tests/test/end-to-end/pages/confirm_association.js
  acceptance-tests/test/end-to-end/pages/paybubble_static_data.js
  acceptance-tests/test/end-to-end/tests/Payment_Failure_BounceBack_test.js
  acceptance-tests/test/end-to-end/tests/Refund_Remissions_Multiple_SRs_test.js
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-981

#983 Revert "CME-522 upgrade to angular 20"
  .eslintrc.js
  angular.json
  package.json
  projects/fee-register-search/package.json
  projects/fee-register-search/src/lib/components/fee-filter/fee-filter.component.ts
  projects/fee-register-search/src/lib/components/fee-list/fee-list.component.ts
  projects/fee-register-search/src/lib/components/fee-search/fee-search.component.ts
  projects/fee-register-search/src/lib/fee-register-search.component.ts
  projects/fee-register-search/src/lib/pipes/filter-fees.pipe.ts
  projects/view-payment/package.json
  projects/view-payment/src/lib/components/shared/fee/fee.component.ts
  projects/view-payment/src/lib/components/shared/status-history/status-history.component.ts
  projects/view-payment/src/lib/components/single-payment-view/single-payment-view.component.ts
  projects/view-payment/src/lib/view-payment.component.ts
  src/app/app.component.ts
  src/app/components/accessibility-statement/accessibility-statement.component.spec.ts
  src/app/components/accessibility-statement/accessibility-statement.component.ts
  src/app/components/ccd-search/ccd-search.component.ts
  src/app/components/confirmation/confirmation.component.ts
  src/app/components/cookie-banner/cookie-banner.component.ts
  src/app/components/cookie-details/cookie-details.component.ts
  src/app/components/cookie-policy/cookie-policy.component.spec.ts
  src/app/components/cookie-policy/cookie-policy.component.ts
  src/app/components/cookie-table/cookie-table.component.ts
  src/app/components/fee-details/fee-details.component.ts
  src/app/components/fee-search/fee-search.component.spec.ts
  src/app/components/fee-search/fee-search.component.ts
  src/app/components/payment-history/payment-history.component.ts
  src/app/components/review-fee-detail/review-fee-detail.component.ts
  src/app/components/view-payment/view-payment.component.ts
  src/app/shared/components/fee-list-table/fee-list-table.component.ts
  src/app/shared/components/footer/footer.component.ts
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/navigation/navigation.component.spec.ts
  src/app/shared/components/navigation/navigation.component.ts
  src/app/shared/components/phase-banner/phase-banner.component.ts
  src/app/shared/components/service-failure/service-failure.component.ts
  src/app/shared/pipes/format-display-currency.pipe.ts
  src/app/shared/pipes/sanitize-html.pipe.ts
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-983

#965 PAY-7758: Frontend: Update the telephony summary page for selectio…
  acceptance-tests/test/end-to-end/pages/steps_file.js
  charts/ccpay-bubble-frontend/Chart.yaml
  charts/ccpay-bubble-frontend/values.aat.template.yaml
  charts/ccpay-bubble-frontend/values.preview.template.yaml
  charts/ccpay-bubble-frontend/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  express/app.js
  express/mvc/controller/PayhubController.js
  package.json
  src/app/components/payment-history/payment-history.component.html
  src/app/components/payment-history/payment-history.component.spec.ts
  src/app/components/payment-history/payment-history.component.ts
  src/app/services/payment-group/payment-group.service.spec.ts
  src/app/services/payment-group/payment-group.service.ts
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, keep-helm, enable_keep_helm, rel:ccpay-bubble-frontend-pr-965

#995 PAY-7966: Error message is hiding Fee Desc and the links to Remove fe…
  express/services/UtilService.js
  package.json
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, keep-helm, enable_keep_helm, rel:ccpay-bubble-frontend-pr-995
