Repository hmcts/ccpay-bubble, pull requests merged in 2025-07, with the labels that each got.

#962 CME-500 replace request with node-fetch
  README.md
  acceptance-tests/test/end-to-end/helpers/utils.js
  express/mvc/controller/PayhubController.js
  express/services/BulkScanService.js
  express/services/FeatureService.js
  express/services/FeeService.js
  express/services/NotificationService.js
  express/services/PayhubService.js
  express/services/RefundsService.js
  express/services/UtilService.js
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, enable_keep_helm, rel:ccpay-bubble-frontend-pr-962

#973 https://tools.hmcts.net/jira/browse/PAY-7980
  audit.json
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-973

#974 PAY-7981: Correct report to return JSON
  express/services/PayhubService.js
Labels: ns:fees-pay, prd:ccpay, enable_keep_helm, rel:ccpay-bubble-frontend-pr-974
