Repository hmcts/ccpay-bubble, pull requests merged in 2025-03, with the labels that each got.

#943 PAY-7643 version for web-component changed
  package.json
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-943

#947 CME-413: Update pa11y, nodejs and OCI endpoint
  charts/ccpay-bubble-frontend/Chart.yaml
  package.json
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-947

#948 Pay 7119 ssrf
  express/mvc/controller/PayhubController.js
  package.json
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-948
