Repository hmcts/ccpay-bubble, pull requests merged in 2025-04, with the labels that each got.

#951 PAY-7706: FT fixes after inflation update
  acceptance-tests/test/end-to-end/pages/add_fees.js
  acceptance-tests/test/end-to-end/tests/CCPB_BulkScanFunctionality_test.js
  acceptance-tests/test/end-to-end/tests/CCPB_WaysToPayTest2.js
  acceptance-tests/test/end-to-end/tests/CCPB_WaysToPaytest.js
  acceptance-tests/test/end-to-end/tests/Payment_Failure_BounceBack_test.js
  acceptance-tests/test/end-to-end/tests/Refund_Over_Payment_Option_Selection_Journey_test.js
Labels: ns:fees-pay, prd:ccpay, enable_keep_helm, rel:ccpay-bubble-frontend-pr-951

#940 PAY-7670 for a web-component change
  acceptance-tests/test/end-to-end/fixture/data/refunds/assertion.js
  acceptance-tests/test/end-to-end/helpers/utils.js
  acceptance-tests/test/end-to-end/pages/refunds_list.js
  acceptance-tests/test/end-to-end/tests/Refund_Partial_Journey_test.js
  charts/ccpay-bubble-frontend/Chart.yaml
  package.json
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, keep-helm, enable_keep_helm, rel:ccpay-bubble-frontend-pr-940

#953 PAY-7740: Fix functional tests after inflation update
  acceptance-tests/test/end-to-end/tests/CCPB_BulkScanFunctionality_test.js
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-953

#952 Pay 7678
  acceptance-tests/test/end-to-end/pages/case_transactions.js
  acceptance-tests/test/end-to-end/pages/initiate_refunds.js
  acceptance-tests/test/end-to-end/tests/CCPB_BulkScanFunctionality_test.js
  acceptance-tests/test/end-to-end/tests/Refund_Retro_Remission_Journey_test.js
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bubble-frontend-pr-952
